<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyWebSite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/style.css') }}">
</head>

<body>
    <nav>
        <h1 id="logo">MyWebSite</h1>
        <ul>
            <strong><li>home</li></strong>
            <a href="/carrinho"><li>carrinho</li></a>
        </ul>
    </nav>
    <section class="produtos">
        {% for produto in produtos%}
        <div class="produto">
            <img src="{{url_for('static',filename='/assets/img/1.jpg')}}" width="300px" alt="" id="f1" class="foto-produto">
            <div class="desc">{{produto.nome}}</div>
            <p>{{produto.desc}}</p>
        </div>
        {% endfor %}
    </section>

</body>

</html>